     <div class="appBar">
            <div class="app">
                <div class="row">
                    <div class="col">
                          <mat-icon class="phone">phone</mat-icon><span>: +212605331618</span>
                    </div>
                    <div class="col">
                        <mat-icon  *ngIf="!loginService.connection" (click) ="login()" class="login">perm_contact_calendar</mat-icon>
                        <img *ngIf="loginService.connection" [src]="loginService.profile" class="rounded-circle" style="width: 25px; height: 20px; cursor: pointer;">
                    </div>
              </div>
            </div>
       </div>    
