<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <app-app-nav></app-app-nav>
   <header>
    <a href="#"><img src="./assets/images/logo.png" alt="" srcset=""></a>
      <ul>
          <li><a href="#">Home</a></li>
          <li><a (click) ="loadProducts()">Product</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
      </ul>
    <div>
        <input type="text" name="search" placeholder="Search ...">
        <mat-icon class="navSearch">search</mat-icon>
    </div>
   </header>
   <div class="circle">   
  </div>
 <div class="info">
       <h3>Artisana</h3>
       <p>
        On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
       </p>
       <button>More info</button>
    </div>

   
</body>
</html>